<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phil.mywearapp">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".SimpleWearableListViewActivity"
            android:label="MyWearApp"
            android:taskAffinity="com.ocddevelopers.androidwearables.wearonlyapps.ListTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleCardActivity"></activity>
        <activity android:name=".CardFragmentActivity"></activity>
        <activity android:name=".CardFrameActivity"></activity>
        <activity android:name=".awListActivity"></activity>
        <activity android:name=".CircledImageActivity"></activity>



    </application>

</manifest>
